apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  namespace: food-delivery
  labels:
    app: mongo
spec:
  ports:
    - port: 27017
      targetPort: 27017
      name: mongodb
  selector:
    app: mongo
