apiVersion: v1
kind: Service
metadata:
  name: customers-frontend
  namespace: food-delivery
  labels:
    app: customers-frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: customers-frontend

