apiVersion: v1
kind: Service
metadata:
  name: delivery-service
  namespace: food-delivery
  labels:
    app: delivery-service
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: delivery-service
